@tailwind base;
@tailwind components;
@tailwind utilities;

.hero-bg {
  background-image: url('../img/hero-bg.jpg');
  position: relative;
}
.hero-bg::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.9);
}
.hero-bg > main {
  position: relative;
  z-index: 1;
}
